body{
    font-family: sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #686279;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}
input, select,  button{
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #686279;
    color: white;
    border: none;
}
.submit{
  display: block;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  background-color: #6d54b7;
}
.submit:hover{
  background-color: #f5f5f5;
  color:#6d54b7;
  cursor: pointer;
}
#outer{
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: #2c2638;
  box-shadow: 0 0 10px rgb(171, 59, 216);
  color: white;
}
.container{
  display: flex;
  width: 100%;
  margin-top: 40px;
}
.left-side{
  margin-top: 20vh;
  flex: 1;
  background-image: url("mountains.jpg"); 
  background-size: cover;
  border-radius: 10px;
  height: 44.5vh;
  box-shadow: 0 0 10px rgb(171, 59, 216);
}
.right-side{
  margin-top: 20vh;
}
input::placeholder{
  color: white;
}


